/.idea/.gitignore
/.idea/ai-server.iml
/.idea/copilot.data.migration.agent.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
